.job {
  display: flex;
}

.job-friend-list {
  flex: 1;
}

.job-send-list {
  flex: 1;
}

.job-message {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.job-message-input {
  height: 100px;
  margin-bottom: 30px;
  width: 400px;
}

.is-sending {
  color: orange;
}

.is-sent {
  color: green;
}

.is-failed {
  color: red;
}

.job-controls {
  display: flex;
  flex-direction: row;
}

.job-random {
  margin-bottom: 10px;
}
