.header {
  align-items: center;
  background: #4a76a8;
  color: #fff;
  display: flex;
  font-size: 13px;
  justify-content: space-between;
  height: 42px;
  padding: 0 20px;
}

.header .title {
  font-weight: 700;
}

.header .profile {
  align-items: center;
  display: flex;
}

.header .profile-photo {
  border-radius: 50%;
  height: 28px;
  margin-right: 10px;
  width: 28px;
}

.header .profile-name {
  margin-right: 30px;
}

.header .profile-logout {
  border: 0;
  background: transparent;
  color: #fff;
  height: 42px;
  padding: 0 15px;
}

.header .profile-logout:hover {
  background: #3d6898;
  cursor: pointer;
}
