html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica Neue, sans-serif;
  font-size: 13px;
  font-weight: 400;
}

h3 {
  font-size: 18px;
  margin: 0 0 15px 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

textarea {
  font-family: Helvetica Neue, sans-serif;
  font-size: 13px;
  padding: 5px;
}

.hidden {
  display: none !important;
}

.container {
  padding: 20px;
}

.button {
  color: #fff;
  background: #5181b8;
  border: 0;
  border-radius: 4px;
  padding: 7px 16px 8px;
}

.button:hover {
  background: #5b88bd;
  cursor: pointer;
}

.button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.button + .button {
  margin-left: 10px;
}
